

<h3>{{title}}</h3>
<p>Category: {{category}}</p>
<p>Address: {{address}}</p>
<br>
<hr>
{{#each results}}
  {{#if review}}
    <h4>{{title}} - by {{reviewer}}</h4>

    <p>
      {{stars}} stars - {{review}}
    </p>
  {{/if}}
{{/each}}
<br><hr><br>
<div id='reviewBtn'>
  <button id='reviewWrite' onclick="loadForm()">Write a review</button>
</div>
<div id='reviewForm'>
  <form action='/restaurant/{{id}}' method='POST'>
    <h3>My Review of {{title}}</h3>
    <label>Title: </label>
    <input type='text' name='title'>
    <br><br>
    <label>Stars:</label>
    <input type='number' min='0' max ='5' name='stars'>
    <br><br>
    <label>Review:</label>
    <br>
    <textarea rows='4' cols='40' name='review'></textarea>
    <br>
    <button type='submit' onclick='closeForm()'>Submit</button>

  </form>
</div>
