
<h3>{{results.restaurant_name}}</h3>
<p>Cateory: {{results.category}}</p>
<p>Address: {{address}}</p>
<br>
<hr>
<h4>{{results.title}} - by {{results.reviewer_name}}</h4>
{{results.stars}}
<p>
  {{results.review}}
</p>
